.secoes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
}

.acoes {
    background-color: rgba(249, 249, 224, 0.6);
}

.respostas {
    background-color: wheat;
}

.button {
    background-color: black;
    border: none;
    color: white;
    cursor: pointer;
    font-family: 'Open Sans Condensed', monospace;
    font-weight: bolder;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-bottom: 1rem;
    padding: 0 25px 0 25px;
    text-transform: uppercase;
}

.button:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
}
