.mensagem {
  clear: both;
  width: 100%;

  .mensagem__box {
    display: grid;
    height: 85%;
    margin: 0.65rem;
    max-width: 65%;
    padding: 20px;
  }

  .mensagem__box--bot {
    background: #fff;
    border-radius: 0 5px 5px 5px;
    float: left;
  }

  .mensagem__box--usuario {
    background: #e1ffc7;
    border-radius: 5px 0 5px 5px;
    float: right;
  }
}